{% extends 'base.html' %}
{% load static %}

{% block contenido %} 
<section class="container">
<h2 class="mb-3 center text-danger">Sobre Nosotros</h2>
<p>
    Bienvenido a nuestra página de noticias sobre inteligencia artificial, un espacio dedicado a explorar el fascinante mundo de la IA y su impacto en nuestra vida diaria. Fundado por un grupo de entusiastas de la tecnología y la investigación, nuestro objetivo es ofrecer información precisa y actualizada sobre los avances más recientes en el campo de la inteligencia artificial.
</p>
<p>
    Creemos que la IA tiene el potencial de transformar industrias enteras, desde la salud hasta la educación y el entretenimiento. En nuestro sitio, encontrarás artículos, análisis y entrevistas con expertos que te ayudarán a comprender mejor cómo estas tecnologías están cambiando la forma en que interactuamos con el mundo.
</p>
<p>
    Nos comprometemos a proporcionar contenido de calidad que no solo informe, sino que también inspire a nuestra audiencia a reflexionar sobre las implicaciones éticas y sociales de la IA. Desde los desarrollos en aprendizaje automático hasta las últimas innovaciones en robótica, nuestro equipo trabaja incansablemente para traer las historias más relevantes y atractivas.
</p>
<p>
    Acompáñanos en este emocionante viaje mientras desentrañamos los misterios de la inteligencia artificial y exploramos su futuro. Tu curiosidad es nuestra motivación, y esperamos que cada visita a nuestro sitio te acerque un paso más a comprender este apasionante campo. ¡Gracias por ser parte de nuestra comunidad!
</p>
</section>
{% endblock contenido %}