{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<section class="container mb-5">
    <h1 class="text-center">{{publicacion.titulo_public}}</h1>
    <p> {{publicacion.autor_public}} </p>
    <h6> <small> {{categorias|join:", "}}</small></h6>
    {% if publicacion.fecha_publicacion %}
    <div>
        <p>Fecha de Publicación: {{publicacion.fecha_publicacion}}</p>
    </div>
    {% else %}
    <p>Fecha de Creacion de la Publicación: {{publicacion.fecha_creacion_public}}</p>

    {% if publicacion.publicar %}
    <a href="{% url 'publicaciones:publicar' publicacion.id %}" class="btn btn-success mb-2" disabled>Publicar</a>
    {% else %}
    <a href="{% url 'publicaciones:publicar' publicacion.id %}" class="btn btn-success mb-2">Publicar</a>
    {% endif %}
    {% endif %}
    {% if imagen_public %}
    <img src="{{publicacion.imagen_public.url}}" width="20%" height="20%" alt="Imagen" class="card-img-top" name="imagen_public">
    {% else %}
    <p>No hay imagen</p>
    {% endif %}

    <div class="card-body mt-2"> {{publicacion.contenido_public}} </div>

    <a href="{% url 'publicaciones:publicacion_editar' publicacion.id %}" class="btn btn-primary">Editar</a> 
    <a href="{% url 'publicaciones:publicacion_eliminar' publicacion.id %}" class="btn btn-danger">Eliminar</a>
    <hr>

    <h3>Comentarios</h3>
    <div class="container">
        {% for c in publicacion.comentarios.all %}
        <div class="border border-secondary mt-2 mb-2">
            <p><strong>{{c.autor_comentario}}</strong></p>
            <p>{{c.body_comentario}}</p>
            <p><small>{{c.fecha_comentario}}</small></p>
    </div>
        {% empty %}
        <p>No hay comentarios.</p>
    
        {% endfor %}
    </div>
    <div class="container">
        <h4>Comentar:</h4>
        <form action="{% url 'publicaciones:publicacion_detalle' publicacion.id %}" method="post">
            {% csrf_token %}
            <span class="input-group-text pl-3 col-2" name="autor_comentario">{{user.username}}</span>
            <textarea class="form-control" name="body_comentario"></textarea>
            <input type="submit" value="Comentar">
        </form>
    </div>
</section>

{% endblock contenido %}